<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Public/css/output.css">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="Public/js/partialview.js"></script>
    <title>OPCIONES</title>
</head>
<body class="items-center text-center flex-col">

    <div class="p-5 bg-cyan-600">
        <div class="flex-col flex items-center">  
            <h1 class="text-center text-2xl font-righteous text-white">
                ¿DESEAS AUDIO?
            </h1>
        </div>
    </div>

    <div class="items-center text-center flex flex-col">
        <img src="Public/assets/audio.png" class="mt-8 items-center w-80">
    </div>

    <div class="items-center flex flex-col text-center mt-10">
        <button class="yes-option w-80 rounded-md text-white bg-cyan-600 hover:bg-cyan-800 p-3 font-righteous mt-10">SI, MUCHAS GRACIAS</button>
    </div>
 
    <div class="items-center flex flex-col text-center">
        <button class="no-option w-80 rounded-md text-white bg-cyan-600 hover:bg-cyan-800 p-3 font-righteous mt-10">NO, ESTOY BIEN</button>
    </div>

    <audio id="audio-opcion" src="Public/assets/AUDIOOPCION.mpeg"></audio>
    <audio id="audio-activado" src="Public/assets/AUDIOACTIVADO.mpeg"></audio>

    <script>
    const audioOpcion = new Audio('Public/assets/AUDIOOPCION.mpeg');
    const audioActivado = new Audio('Public/assets/AUDIOACTIVADO.mpeg');
    const recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition)();
    let isAudioDisabled = false;

    audioOpcion.addEventListener('ended', function() {
        setTimeout(function() {
            startListening();
        }, 1000); 
    });

    function startListening() {
        recognition.lang = 'es-ES';
        recognition.start();

        recognition.onresult = function(event) {
            const transcript = event.results[0][0].transcript.toLowerCase();
            console.log(transcript);

            if (transcript.includes('sí') || transcript.includes('si') || transcript.includes('si, por favor')) {
                document.querySelector('.yes-option').click();
            } else if (transcript.includes('no') || transcript.includes('no quiero') || transcript.includes('no, gracias') || transcript.includes('no estoy bien')) {
                document.querySelector('.no-option').click();
            }
        }

        recognition.onerror = function(event) {
            console.error('Error en el reconocimiento de voz:', event.error);
        }
    }

    audioOpcion.play();

    document.querySelector('.no-option').addEventListener('click', function() {
        isAudioDisabled = true; // Desactivar audio
        Swal.fire({
            icon: 'error',
            title: 'Entendido, audio desactivado',
            text: '',
            timer: 2000,
            showConfirmButton: false,
            customClass: {
                popup: 'bg-white border border-gray-200 rounded-md shadow-lg w-80',
                title: 'font-semibold text-gray-800 text-lg',
                content: 'text-gray-700 text-sm',
            }
        }).then(() => {
            loadPartialView('home-app', '.init', false, isAudioDisabled);
        });
    });

    document.querySelector('.yes-option').addEventListener('click', function() {
        Swal.fire({
            icon: 'success',
            title: 'Genial, audio activado',
            text: '',
            timer: 2000,
            showConfirmButton: false,
            customClass: {
                popup: 'bg-white border border-gray-200 rounded-md shadow-lg w-80',
                title: 'font-semibold text-gray-800 text-lg',
                content: 'text-gray-700 text-sm',
            }
        }).then(() => {
            loadPartialView('home-app', '.init', false, isAudioDisabled);
        });
    });

    </script>
    
</body>
</html>
